body { margin: 0; }
#vzhuh {
    position: absolute;
    top: 50%;
    left: 50%;
}
#message {
    background-color: #EEEEEE;
    font: 16px Arial;
    padding: 10px;
    position: absolute;
    border-radius: 0 0 5px 5px;
    left: 50%;
}
a {
    color: #4285F4;
}